header
{
    margin: 0 auto;
    font-size: 50px;
    font-family: fantasy;
    text-align: center;
}
aside
{
    text-align: center;
    margin: 10px auto;
    max-width: 400px;
}
h3
{
    font-family: sans-serif;
    font-size: 40px;
}
.roundedBorderCard
{
    border-radius: 15px;
    border: solid;
}
.boton
{
    margin: 10px;
}
.stock
{
    font-family: arial;
    font-size: 12px;
    margin: 10px;;
    
}
.sellingCard
{
     margin: 100 auto;
    vertical-align: middle;
  width: 50%;
  padding: 10px;
    height: 400px;
    width: 400px;
    border:solid;
    border-width: 1px;
    border-color: lightgray;
    background-color: white;
    font-family: sans-serif;
    font-size: 15px;
    margin-bottom: 100px;
    padding: 80px;
}
.fotografiaTienda
{
    height: 300px;
    width: 400px;
    
}
#contra
{
    border-radius: 10px;
}
#contra2
{
    border-radius: 10px;
}
#disponibleS
{
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: gray;
}
#disponibleM
{
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: gray;
}
#disponibleE
{
    font-family: sans-serif;
    font-size: 12px;
    text-align: center;
    color: gray;
}
#aqui
{
    text-align: center;
    font-family: sans-serif;
    color: white;
    max-height: 100px;
    max-width: 300px;
    padding: 10px;
}
.divisionOpciones
{
    margin: 10px;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 10px;
}
#campoDeTienda
{
    margin: 0 auto;
    align-content: center;
    text-align: center;
    
}
#campoDeDatos
{
    margin: 0 auto;
    width: 600px;
    height: 200px;
    padding: 10px;
    font-family: arial;
    font-size: 17px;
    text-align: center;
    background-color: white;
    border: solid black;
}

#contra
{
    width: 500px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}
#contra2
{
    width: 500px;
    height: 50px;
    font-size: 50px;
    text-align: center;
}
#desgloce
{
    margin: 50px;
    padding: 30px;
    text-align: center;
    max-width: 600px;
    max-height: 700px;
    border: solid lightgray;
    border-width: 1px;
    background-color: lightyellow;
}
