h1
{
  color:orange;
}

body
{
    margin: 0 auto;
    max-width: 50em;
    background-color: lightgoldenrodyellow;
}

th
{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border:solid;
    border-color: black;
}
#tablaLab2
{
    border:solid;
    border-color: black;
    border-radius: 15px;
    border-width: 5px;
   background-color: white;
}
#estilo
{
    border-radius: 15px;
    padding: 10px;
    background-color: lightcoral;
}
#seccionLab2
{
    background-color:lightcoral;
    border:solid;
    border-color: lightcoral;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 10px;
    margin-bottom: 0px;
}
#seccionLab3
{
    
    background-color:crimson;
    border:solid;
    border-color: crimson;
    border-top-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-width: 10px;
    padding-top: 15px;
    margin-bottom: 20px;
}
#bibliografia
{
    margin-top: 0px;
    border-radius: 15px;
    text-align: center;
    padding: 15px;
    background-color: aquamarine;
    font-family: monospace;
    font-size: 14px;
}
td
{
    border-color: black;
    border:solid;
}

.pregunta
{
    background-color: skyblue;
    padding:10px;
}
.respuesta
{
    background-color: darkseagreen;
    padding:10px;
}

.preguntaInf
{
    background-color: skyblue;
    border-bottom-left-radius: 15px;
}
.respuestaInf
{
    background-color: darkseagreen;
    border-bottom-right-radius: 15px;
}


.tituloLab
{
    align-content: center;
    text-align: center;
    font-size: 45px;
    text-decoration: underline;
}
