
body
{
    font-family: Arial;
    margin: 0 auto;
    max-width: 60em;
}
h1
{
    text-align: center;
    border: solid black;
    background-color: rgb(134, 202, 212);
    border-radius: 15px;
    
}

header
{
    font-weight: bold;
}

#listaCuestionario
{
    padding: 30px;
    border:solid gray;
    border-radius: 15px;
    background-color: greenyellow;
}

p
{
    padding: 5px;
    background-color: aliceblue;
    border-radius: 6px;
    border: solid;
    border-width: 1px;
    border-color: gray;
}

#centrar
{
    text-align: center;
}
